@use "../base/colors";
@use "../utilities/spacing";

.logo-btn {
    position: relative;
    display: inline-block;

    padding-left: spacing.$spacing-800;
    z-index: 1;

    line-height: 0; //? no text in this element

    // cursor: url("../../../public/assets/images/icons/pointer/pointer.svg") 3 0, auto;
    cursor:
        url("../../assets/images/icons/pointer/pointer.svg") 3 0,
        auto;

    &__img {
        min-width: fit-content;
        min-height: fit-content;
    }

    &::after {
        content: "";

        position: absolute;

        width: 406px;
        height: 1px;

        top: calc(50%);
        transform: translateY(-50%);

        left: 100%;
        margin-left: spacing.$spacing-800;

        background-color: rgba($color: colors.$color__white, $alpha: 25%);
    }
}

//? --- TABLET ---
//? --------------
@media (min-width: 768px) and (max-width: 1439px) {
    .logo-btn {
        padding-left: 40px;

        &::after {
            display: none;
        }
    }
}

//? ---  MOBILE ---
//? --------------
@media (max-width: 767px) {
    .logo-btn {
        padding-left: 24px;

        &::after {
            display: none;
        }
    }
}
