@use "../base/colors";
@use "../base/typography";
@use "../utilities/spacing";

.site-navigation {
    box-sizing: content-box;

    padding: 0 spacing.$spacing-800 0 spacing.$spacing-2000;

    background-color: rgba($color: colors.$color__white, $alpha: 5%);
    backdrop-filter: blur(80px);

    &__list {
        display: flex;
        flex-direction: row;

        column-gap: spacing.$spacing-600;

        list-style: none;
        // list-style-type: decimal-leading-zero;
        // list-style-position: inside;
    }

    &__item {
        @include typography.tp-8;

        counter-increment: nav-counter;

        // &::marker {
        //     margin-right: spacing.$spacing-150;
        //     font-weight: $bold;
        // }
    }

    &__link {
        position: relative;

        display: flex;
        flex-direction: row;

        justify-content: center;
        align-items: center;

        column-gap: spacing.$spacing-150;

        width: auto;
        min-height: 96px;

        // cursor: pointer;
        // cursor: url("../../../public/assets/images/icons/pointer/pointer.svg") 3 0, auto;
        cursor:
            url("../../assets/images/icons/pointer/pointer.svg") 3 0,
            auto;

        &::before {
            @include typography.tp-8--bold;
            content: counter(nav-counter, decimal-leading-zero);

            // margin-right: spacing.$spacing-150;
            // font-weight: $bold;
        }

        &::after {
            content: "";

            position: absolute;

            width: 100%;
            height: 3px;

            bottom: 0;

            background-color: transparent;

            will-change: background-color;
            transition: background-color 0.3s ease-in-out;
        }

        &:hover {
            &::after {
                background-color: rgba($color: colors.$color__white, $alpha: 50%);
            }
        }

        &:active {
            &::after {
                background-color: rgba($color: colors.$color__white, $alpha: 100%);
            }
        }

        &.active {
            &::after {
                background-color: rgba($color: colors.$color__white, $alpha: 100%);
            }
        }
    }

    &__close-menu-btn {
        display: none;
    }
}

//? --- TABLET ---
//? --------------
@media (min-width: 768px) and (max-width: 1439px) {
    .site-navigation {
        padding: 0 40px 0 117px;

        &__list {
            column-gap: 40px;
        }

        // &__link {
        //     &::before {
        //         display: none;
        //     }
        // }
    }
}

//? --- MOBILE ---
//? --------------
@media (max-width: 767px) {
    .site-navigation {
        position: fixed;

        top: 0;
        bottom: 0;
        right: -254px;

        width: auto;
        max-width: 254px;

        flex-direction: column;
        padding: 0 0 0 32px;

        row-gap: 48px;

        z-index: 2;

        will-change: right;
        transition: right 0.2s ease-in-out;

        &__list {
            flex-direction: column;
            row-gap: spacing.$spacing-400;
        }

        &__link {
            width: 222px;
            min-height: fit-content;

            justify-content: flex-start;

            &::after {
                width: 3px;
                height: 100%;

                right: 0;
            }

            &:hover {
                &::after {
                    background-color: rgba($color: colors.$color__white, $alpha: 50%);
                }
            }

            &:active {
                &::after {
                    background-color: rgba($color: colors.$color__white, $alpha: 100%);
                }
            }

            &.active {
                &::after {
                    background-color: rgba($color: colors.$color__white, $alpha: 100%);
                }
            }
        }

        // &.opened {
        //     right: 0;
        // }

        &:target {
            right: 0;
        }

        &__close-menu-btn {
            display: flex;

            width: 100%;
            padding: 32px 24px;

            align-items: center;
            justify-content: flex-end;
        }
    }
}
