@use "../base/colors";
@use "../base/typography";

.tab-panel-navigation {
    display: inline-block;
    padding-bottom: 40px;

    &__list {
        display: flex;
        column-gap: 32px;
    }

    &__item {
        display: inline-block;
    }

    &__button {
        @include typography.tp-8--blue;

        position: relative;
        padding-bottom: 13px;

        will-change: color;
        transition: color 0.3s ease-in-out;

        // cursor: url("../../../public/assets/images/icons/pointer/pointer.svg") 3 0, auto;
        cursor:
            url("../../assets/images/icons/pointer/pointer.svg") 3 0,
            auto;

        &::after {
            position: absolute;

            content: "";

            left: 0;
            right: 0;
            bottom: 0;

            width: 100%;
            height: 3px;

            background-color: transparent;

            will-change: background-color;
            transition: background-color 0.3s ease-in-out;
        }

        &:hover {
            &::after {
                background-color: rgba($color: colors.$color__white, $alpha: 0.5);
            }
        }

        &:active {
            &::after {
                background-color: rgba($color: colors.$color__white, $alpha: 0.65);
            }
        }

        &.active {
            @include typography.tp-8;

            &::after {
                background-color: colors.$color__white;
            }
        }
    }
}
