//? --- Blue
//? --------

$color__blue-900: #0b0d17;
$color__blue-300: #d0d6f9;

//? --- White
//? ---------

$color__white: #fff;

//? --- Default html bc
//? -------------------

$color__default_html_bc: #0b0d17;
